---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import fourohfour from "@/images/404.svg";
import fourohfourdark from "@/images/404dark.svg";
---

<BaseLayout pageTitle="404 Page not Found">
  <div>
    <Image class="islight" src={fourohfour} alt="404 Page not Found" />
    <Image class="isdark" src={fourohfourdark} alt="404 Page not Found" />
  </div>
</BaseLayout>
<meta slot="head" name="robots" content="noindex" />
<style>
  img {
    width: 50vw;
    height: 50vh;
  }
  .isdark {
    @apply hidden dark:block;
  }
  .islight {
    @apply block dark:hidden;
  }
  div {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
