---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostList from "../components/PostList.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection('posts');
const filteredPosts = allPosts
  .sort(
    (a, b) =>
      b.data.pubDate.getTime() - a.data.pubDate.getTime(),
  )
  .slice(0, 10)
const pageTitle = "intro";
const description =
  "This is an attempt to visit every work-friendly coffee shop in NYC.";


---

<BaseLayout pageTitle={pageTitle} seo={{ description, type: "website" }}>
  <h3 class="pb-5">
    This is an attempt to visit every work-friendly <span class="text-amber-600"
      >coffee shop</span
    > in NYC.
		<div class="w-full h-8" />
		<span class="whitespace-normal md:whitespace-pre-line">I have recently run into a LOT of free time.
    But I have a lot of work to do and I'm going stir-crazy in my apartment.
    So I'm going to try to do the impossible and survey the ever-changing landscape
    of the bean breweries of New York City. Wish me luck!
		</span>
  </h3>

  <PostList posts={filteredPosts} />
</BaseLayout>
<style>
  h3 {
    @apply font-serif leading-5 md:leading-9 text-left md:text-center text-xl lg:text-[calc(max(2.35vw,26px))];
  }
</style>
<script type="application/ld+json" slot="head">
{
	"@context" : "https://schema.org",
	"@type" : "WebSite",
	"name" : "alexbrufsky",
	"url" : {Astro.url.toString()}
}
</script>
