---

---

<span class="space-x-2">
  <a href="/">Home</a>
  <a href="/posts/">Archives</a>
</span>
<style>
  a {
    @apply cursor-pointer font-sans text-xs uppercase hover:text-primary hover:underline;
  }
</style>
